@import '~node_modules/modern-normalize/modern-normalize.css';
@font-face {
  font-family: "Cera Pro";
  src: local("Cera Pro"), url("../fonts/CeraPro-Light.woff2") format("woff2"), url("../fonts/CeraPro-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Medium.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Caviar Dreams";
  src: local("Caviar Dreams"), url("../fonts/CaviarDreams-Regular.woff2") format("woff2"), url("../fonts/CeraPro-Bold.woff2") format("woff2");
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
}

a,
button,
input,
textarea {
  outline: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cera Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2b2b2b;
  background-color: #e5e5e5;
}
@media screen and (min-width: 1440px) {
  body {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.28;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 48px;
  }
}

.sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .sub-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .sub-title {
    font-size: 36px;
  }
}

.page-header {
  position: relative;
}

.mobile-container {
  display: flex;
  align-items: center;
}

.dropdown {
  display: flex;
  align-items: flex-end;
}

.logo__link {
  padding: 23px 0;
  z-index: 99;
}

.mobile-menu {
  margin-right: auto;
  margin-left: auto;
}

.mobile-menu__toggle {
  padding: 23px 0;
}

.mobile-menu__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 1440px) {
  .mobile-menu__toggle {
    display: none;
  }
}

.mobile-menu__icon-menu {
  width: 32px;
  height: 18px;
}

.mobile-menu__icon-cross {
  width: 18px;
  height: 18px;
}

.mobile-menu__toggle .mobile-menu__icon-cross {
  display: none;
}

.mobile-menu__toggle.is-open .mobile-menu__icon-menu {
  display: none;
}

.mobile-menu__toggle.is-open .mobile-menu__icon-cross {
  display: block;
}

.mobile-menu__container {
  display: none;
  position: absolute;
  top: 120%;
  left: 2%;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  opacity: 0;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__container.is-open {
  display: block;
  z-index: 99;
  opacity: 1;
  transform: scale(1);
}

.mobile-menu__item {
  margin-bottom: 24px;
  text-align: center;
}

.mobile-menu__item--link {
  width: 100%;
  font-family: "Cera Pro";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  color: #487996;
  text-transform: uppercase;
}

.mobile-menu__service-list {
  margin-top: 24px;
}

.mobile-menu__service-item-link {
  width: 100%;
  font-family: "Cera Pro";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  text-transform: none;
  color: #487996;
}

.mobile-menu__service-item {
  margin-bottom: 24px;
  text-align: center;
}

.mobile-menu__item--link:hover,
.mobile-menu__item--link:focus {
  color: #487996;
  -webkit-text-stroke: 1px #487996;
  -webkit-text-fill-color: #ffffff;
}

.mobile-contacts__button {
  padding: 23px 0;
}

.mobile-contacts__dropdown {
  position: relative;
  display: inline-block;
  margin-right: 27px;
}

.mobile-contacts__content {
  display: none;
  position: absolute;
  left: -70px;
  top: 55px;
  background-color: #ffffff;
  width: 162px;
  height: 82px;
  padding: 16px 6px 16px 8px;
  z-index: 99;
  border-radius: 2px;
}

.mobile-contacts--background-triangle {
  display: none;
  position: absolute;
  top: 60%;
  left: -35%;
  border-radius: 4px;
  border-left: 18px solid rgba(0, 0, 0, 0);
  border-right: 18px solid rgba(0, 0, 0, 0);
  border-bottom: 24px solid #ffffff;
  z-index: 99;
}

.mobile-contacts__link {
  color: #2b2b2b;
  padding: 2px;
  text-decoration: none;
  display: block;
  font-family: "Cera Pro";
  line-height: 1.26;
  letter-spacing: 1%;
}

.mobile-contacts__link:hover,
.mobile-contacts__link:focus {
  color: #487996;
}

.mobile-contacts__dropdown:hover .mobile-contacts__content,
.mobile-contacts__dropdown:focus .mobile-contacts__content {
  display: block;
}

.mobile-contacts__dropdown:hover .mobile-contacts--background-triangle,
.mobile-contacts__dropdown:focus .mobile-contacts--background-triangle {
  display: block;
}

.menu-lang__dropdowncontent {
  padding: 23px 0;
  cursor: pointer;
}

.menu-lang__button {
  color: #bdbdbd;
  padding: 2px;
  text-decoration: none;
  font-family: "Caviar Dreams";
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.27;
  letter-spacing: 1%;
  cursor: pointer;
}

.menu-lang__dropdowncontent {
  position: relative;
  display: inline-block;
  z-index: 99;
}

.menu-lang__content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  width: 35px;
}

.menu-lang__link {
  color: #bdbdbd;
  padding: 2px;
  text-decoration: none;
  display: block;
  font-family: "Caviar Dreams";
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.27;
  letter-spacing: 1%;
}

.menu-lang__link:hover,
.menu-lang__link:focus {
  color: #487996;
}

.menu-lang__dropdowncontent:hover .menu-lang__content,
.menu-lang__dropdowncontent:focus .menu-lang__content {
  display: block;
}

.page-header__rectangle--logo {
  display: block;
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 35px 0px 0px 35px;
  transform: rotate(180deg);
  z-index: 9;
}

.page-header__rectangle--lang {
  display: block;
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  top: 0;
  left: 83%;
  background-color: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 35px 0px 0px 35px;
  z-index: 9;
}

.page-header__rectangle--mobile-menu {
  display: block;
  position: absolute;
  width: 73.65px;
  height: 73.65px;
  top: 295px;
  left: 0;
  background-color: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 35px 0px;
  z-index: 9;
}

.model__sec-container {
  position: relative;
}
@media screen and (max-width: 767px) {
  .model__sec-container {
    padding-top: 18.35px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 768px) {
  .model__sec-container {
    padding-top: 30px;
    padding-bottom: 41px;
  }
}
@media screen and (min-width: 1440px) {
  .model__sec-container {
    padding-top: 45.7px;
    padding-bottom: 40px;
  }
}

.model__f-container {
  position: relative;
}

.model__r-rectangle {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .model__r-rectangle {
    right: 0;
    width: 71.4px;
    height: 63.8px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 35px 0px 0px;
    transform: rotate(180deg);
  }
}
@media screen and (min-width: 1440px) {
  .model__r-rectangle {
    right: 0;
    width: 144px;
    height: 136.8px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
    transform: rotate(90deg);
  }
}

@media screen and (min-width: 1440px) {
  .model__hero {
    padding-left: 117px;
  }
}

@media screen and (max-width: 767px) {
  .model__rectangle-mob {
    position: absolute;
    width: 73.65px;
    height: 73.65px;
    z-index: -1;
    top: 55%;
    left: -48px;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
  }
}

@media screen and (min-width: 768px) {
  .model__rectangle-tab {
    width: 74px;
    height: 71.4px;
    position: absolute;
    left: 0;
    z-index: -1;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    transform: rotate(-90deg);
    bottom: 45px;
  }
}
@media screen and (min-width: 1440px) {
  .model__rectangle-tab {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .model__rectangle {
    width: 82px;
    height: 72px;
    position: absolute;
    left: 0;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 72px 0px;
  }
}

.model__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
}
@media screen and (min-width: 350px) {
  .model__title {
    font-size: 26px;
  }
}
@media screen and (min-width: 380px) {
  .model__title {
    font-size: 28px;
  }
}
@media screen and (min-width: 480px) {
  .model__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .model__title {
    font-size: 36px;
    line-height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .model__title {
    font-size: 48px;
    line-height: 60px;
  }
}

.model__text-list {
  margin-top: 16px;
}
@media screen and (min-width: 1440px) {
  .model__text-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .model__item {
    width: 515px;
  }
}

.model__item:not(:last-child) {
  margin-bottom: 16px;
}
@media screen and (min-width: 1200px) {
  .model__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 72px;
  }
}

.model__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;
}
@media screen and (min-width: 1200px) {
  .model__text {
    font-size: 18px;
    line-height: 23px;
  }
}

@media screen and (max-width: 767px) {
  .methods__container {
    position: relative;
  }
}

.methods__div {
  padding-bottom: 56px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .methods__div {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .methods__div {
    position: relative;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .methods__list {
    margin-bottom: 40px;
  }
}

.methods__title {
  font-size: 18px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .methods__title {
    font-size: 24px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .methods__title {
    font-size: 36px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .methods__s-container {
    padding-left: 117px;
    padding-top: 60px;
  }
}

.methods__item {
  display: flex;
  align-items: center;
}

.methods__item::before {
  content: "";
  min-width: 7px;
  min-height: 7px;
  background-color: #487996;
  display: block;
  margin-right: 8px;
  border-radius: 3px 0px;
}
@media screen and (min-width: 768px) {
  .methods__item::before {
    margin-right: 9px;
    width: 8px;
    height: 8px;
  }
}

.methods__item:not(:last-child) {
  margin-bottom: 16px;
}

.methods__t-container {
  background-image: url(/src/images/bitmap/3d-modeling//mobile/3d-model.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 280px;
  height: 164px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .methods__t-container {
    background-image: url(/src/images/bitmap/3d-modeling/mobile/3d-model@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 768px) {
  .methods__t-container {
    background-image: url(/src/images/bitmap/3d-modeling/tablet/3d-model.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 246px;
    height: 144px;
    position: relative;
    margin-left: auto;
    background-size: contain;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .methods__t-container {
    background-image: url(/src/images/bitmap/3d-modeling/tablet/3d-model@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}
@media screen and (min-width: 1440px) {
  .methods__t-container {
    background-image: url(/src/images/bitmap/3d-modeling/desktop/3d-model.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 555px;
    height: 301px;
    background-size: contain;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .methods__t-container {
    background-image: url(/src/images/bitmap/3d-modeling/desktop/3d-model@2x.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 1440px) {
  .methods__rectangle {
    width: 136.8px;
    height: 144px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 72px 0px;
    z-index: -1;
  }
}

.methods__text {
  font-size: 16px;
}
@media screen and (min-width: 1440px) {
  .methods__text {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .methods__t-rectangle {
    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 0px 35px;
    transform: rotate(-90deg);
    width: 74px;
    height: 71px;
    z-index: -1;
    position: absolute;
    bottom: 15;
    right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .methods__t-rectangle {
    display: none;
  }
}

.methods__mob-r {
  left: -17px;
  width: 73.65px;
  height: 73.65px;
  position: absolute;
  top: 129;
  z-index: -1;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 25px 0px;
}
@media screen and (min-width: 768px) {
  .methods__mob-r {
    display: none;
  }
}

.methods__mob-r2 {
  width: 73.65px;
  height: 73.65px;
  position: absolute;
  z-index: -1;
  background: #ffffff;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  border-radius: 72px;
  top: 66.5px;
  right: -17px;
}
@media screen and (min-width: 768px) {
  .methods__mob-r2 {
    display: none;
  }
}

.footer {
  display: flex;
  background-color: #f5f5fa;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .footer {
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    text-align: center;
  }
}
@media screen and (min-width: 1440px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__logo {
    margin-right: 277px;
  }
}

.footer__logo-img {
  display: inline-block;
  width: 192px;
  height: 48px;
}
@media screen and (min-width: 1440px) {
  .footer__logo-img {
    width: 192px;
    height: 48px;
  }
}

@media screen and (min-width: 768px) {
  .footer__info {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  .footer__info {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .footer__menu {
    margin-top: 19px;
  }
}
@media screen and (min-width: 768px) {
  .footer__menu {
    margin-right: 52px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__menu {
    margin-right: 103px;
  }
}

.footer__menu-link {
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .footer__menu-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__menu-link:hover, .footer__menu-link:focus {
    color: #487996;
  }
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .footer__socials {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__socials {
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .footer__socials {
    margin-right: 161px;
  }
}

.footer__socials-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__socials-link {
  color: #2b2b2b;
}
@media screen and (min-width: 1440px) {
  .footer__socials-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer__socials-link:hover, .footer__socials-link:focus {
    color: #487996;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-top: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer__contacts {
    text-align: end;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts-mail-wrap {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts-mail-wrap {
    margin-bottom: 16px;
  }
}

.footer__contacts-mail {
  font-style: normal;
}

.footer__contacts-mail-list {
  margin-top: 8px;
}

.footer__contacts-mail-link {
  font-style: normal;
  color: #487996;
}

.footer__contacts-tel {
  font-style: normal;
}

.footer__contacts-tel-item {
  margin-top: 8px;
}

.footer__contacts-tel-link {
  font-style: normal;
  color: #487996;
}/*# sourceMappingURL=index.css.map */