@import './common'; // Modern-normalize

//* UTILS
@import './utils/fonts'; // Шрифти
@import './utils/vars'; // Змінні
@import './utils/reset'; // Reset.css
@import './utils/basics'; // Базові налаштування стилей
@import './utils/container'; // Базові налаштування стилей
@import './utils/components'; // Базові налаштування стилей
@import './utils/animation'; // Анімації

//* Layout Styles
@import './layout/header'; // ХЕДЕР
@import './layout/main-page.scss'; // Головна сторінка
@import './layout/modeling-page'; // 3D МОДЕЛЮВАННЯ
@import './layout/scanning-page.scss'; // 3D СКАНУВАННЯ
@import './layout/printing-page.scss'; // МИ СТВОРЮЄМО
@import './layout/order-page.scss'; // ЗРОБИТИ ЗАМОВЛЕННЯ
@import './layout/order-page/order-page_components/select'; // ЗРОБИТИ ЗАМОВЛЕННЯ SELECT
@import './layout/contacts-page.scss'; // КОНТАКТИ
@import './layout/footer'; // ФУТЕР
