@mixin titleFonts($fs) {
  font-weight: 700;
  font-size: $fs;
  line-height: 1.25;
  color: $accentColor;
  text-transform: uppercase;
}

.title {
  @include titleFonts(24px);
  @media screen and (min-width: $tablet) {
    font-size: 36px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 48px;
  }
}

.sub-title {
  @include titleFonts(18px);
  @media screen and (min-width: $tablet) {
    font-size: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
  }
}
