.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (max-width: 767px) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
