.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    max-width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 0 32px;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

