// ! ПЕРЕМЕННЫЕ

//* Брекпоінти
$mobile: 480px; // Мобільний
$tablet: 768px; // Планшет
$desktop: 1440px; //Десктоп

//* Кольори:
$accentColor: #487996; // Колір акценту

$primeryBackgroundColor: #e5e5e5; // Основний колір фону
$buttonBackgroundColor: #f5f5fa; // Колір фону кнопки
$footerBackgroundColor: #f5f5fa; // Колір фону футера
$spotBackgroundColor: #ffffff; // Колір фону декоративної плями

$TextColor: #2b2b2b; // Основний колір тексту
$langColor: #bdbdbd; // Колір тексту перемикача мови, плейсхолдеру textarea та описання input.file
$iconColor: #008cef; // Колір стрілки ↓ у секції Герой

//* Шрифти:
$fontCeraPro: 'Cera Pro'; // Шрифт Caviar Dreams
$fontCaviarDreams: 'Caviar Dreams'; // Шрифт Caviar Dreams

//* Тінь:
$spotShadow: 20px 20px 80px rgba(0, 0, 0, 0.1); // Тінь декоративної плями
$listItemShadow: inset 1px 1px 16px rgba(203, 203, 203, 0.8),
  inset -1px -1px 16px #ffffff; // Тінь елементів списку блоку "ПРОЦЕС 3D СКАНУВАННЯ" та "МИ СТВОРЮЄМО"

//* Cubic-bezier:
$cubicBezier: cubic-bezier(0.4, 0, 0.2, 1); // Cubic-bezier для плавної анимації
//? $arrowCubicBezier: cubic-bezier(0,1.55,.81,-0.57); // Cubic-bezier для анімації стрілок
