.container__more-photo {
  @media screen and(max-width:767px) {
    width: 480px;
  }
  @media screen and (min-width: $desktop) {
    padding: 0 149px;
  }
}

.more-photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 100%;

  @media screen and(min-width: $tablet) {
    width: 704px;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 80px;
  }
  @media screen and(min-width: 1200px) {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  @media screen and(min-width: $desktop) {
    width: 100%;
    margin-top: 60px;
  }

  &__item {
    cursor: pointer;
    @media screen and(max-width: 767px) {
      width: 100%;
    }

    &:nth-child(n + 4) {
      display: none;

      @media screen and(min-width: $tablet) {
        display: block;
      }
    }
  }
}

.more-svg {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  fill: $accentColor;
  margin-bottom: 60px;
  @media screen and(min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
    margin-bottom: 100px;
    width: 44px;
  height: 44px;
  }
}

// Модальное окно
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(43, 43, 43, 0.8);
}

.modal-content {
  margin: 20% auto;
  width: 100%;
  @media screen and(min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 735px;
    margin: 10% auto;
  }
  @media screen and (min-width: $desktop) {
    width: 1000px;
    margin: 10% auto;
  }
}

.close {
  position: relative;
  top: 6%;
  left: 50%;
  display: block;
  color: $spotBackgroundColor;
  font-size: 28px;
  font-weight: bold;
  @media screen and(min-width: $mobile) {
    top: 10%;
  }
  @media screen and (min-width: $tablet) {
   top: 5%;
  }
  @media screen and (min-width: 1200px) {
top: 10%;
  }
    &__icon {
      width: 11px;
      height: 11px;
      fill: $spotBackgroundColor;
      &:hover,
      &:focus {
        fill: $accentColor;
      }
      @media screen and(min-width: $tablet) {
        width: 20px;
        height: 20px;
      }
      @media screen and (min-width: $desktop) {
        width: 30px;
        height: 30px;
      }
    }

  }


.close:hover,
.close:focus {
  color: $accentColor;
  text-decoration: none;
  cursor: pointer;
}



// Слайдер
.slider-modal { 
  &__img {
    @media screen and(min-width: 320px) {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and(min-width: 1200px) {
      width: 80%;
    }
  }
  &__img-big {
    @media screen and(min-width: 320px) {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and(min-width: $tablet) {
      width: 60%;
    }
    @media screen and(min-width: 1200px) {
      width: 50%;
    }
  }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  left: 15px;
  border-radius: 0 3px 3px 0;
  &__icon {
    width: 11px;
    height: 10px;
    fill: $spotBackgroundColor;
    &:hover,
    &:focus {
      fill: $accentColor;
    }
    @media screen and(min-width: $tablet) {
      width: 26px;
      height: 26px;
    }
    @media screen and (min-width: $desktop) {
      width: 42px;
      height: 42px;
    }
  }
}

.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  right: 15px;
  border-radius: 3px 0 0 3px;
  &__icon {
    width: 11px;
    height: 10px;
    fill: $spotBackgroundColor;
    &:hover,
    &:focus {
      fill: $accentColor;
    }
    @media screen and(min-width: $tablet) {
      width: 26px;
      height: 26px;
    }
    @media screen and (min-width: $desktop) {
      width: 42px;
      height: 42px;
    }
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
