.container__more-photo {
  @media screen and(max-width:767px) {
    width: 480px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 149px;
  }
}

.more-photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 100%;

  @media screen and(min-width:768px) {
    width: 704px;
    gap: 32px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  @media screen and(min-width:1200px) {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
  }
  @media screen and(min-width:1440px) {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 16px;
  }

  &__item {
    @media screen and(max-width:767px) {
      width: 100%;
    }

    &:nth-child(n + 4) {
      display: none;

      @media screen and(min-width:768px) {
        display: block;
      }
    }
  }
}

.more-svg {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  fill: #487996;
}

// Модальное окно
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(43, 43, 43, 0.8);
}

.modal-content {
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 60%; /* Could be more or less, depending on screen size */
}

.close {
  display: block;
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

// Слайдер

.slider-modal {
  &__img {
    @media screen and(min-width:320px) {
      width: 80%;
      margin: 0 auto;
    }
    @media screen and(min-width:1200px) {
      width: 60%;
    }
    @media screen and(min-width:1440px) {
        width: 50%;
      }
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  left: 63px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  right: 63px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}