<section class="contacts contacts-page__contacts">
    <div class="contacts__thumb">
        <h2 class="sub-title contacts__sub-title">ТЕЛЕФОНИ</h2>
        <ul class="list contacts__list">
            <li class="contacts__item">
                <a href="tel:+380957384551" class="contacts__link link">+38 (095) -73-84-551</a>
            </li>
            <li class="contacts__phone-item">
                <a href="tel:+380980025235" class="contacts__link link">+38 (098) -00-25-235</a>
            </li>
        </ul>
    </div>

    <div class="contacts__thumb">
        <h2 class="sub-title contacts__sub-title">Email</h2>
        <a class="contacts__link link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
    </div>

    <div class="contacts__thumb contacts__thumb--right">
        <h2 class="sub-title contacts__sub-title">Робочий час</h2>
        <ul class="list contacts__list">
            <li class="contacts__item">
                <p class="contacts__text">Пн-пт: з 8:00 до 19:00</p>
            </li>
            <li class="contacts__phone-item">
                <p class="contacts__text">Сб, Нд: з 10:00 до 17:00</p>
            </li>
        </ul>
    </div>
    <div class="contacts__spot"></div>
</section>