.container__form {
}

.custom-select {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #487996;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2b2b2b transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #2b2b2b transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: $TextColor;
  padding: 8px 16px;
  border: 1px solid transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(72, 121, 150, 0.5);
}
