.container__form {
}

.custom-select {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(72, 121, 150, 0.5);
  margin-bottom: 44px;
  @media screen and (min-width: $tablet) {
    width: 400px;
  }
  @media screen and (min-width: $desktop) {
    width: 555px;
  }
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #2b2b2b transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #2b2b2b transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: $TextColor;
  padding: 4px 2px;
  cursor: pointer;
}
.select-selected.select-arrow-active {
  border-bottom: 1px solid rgba(72, 121, 150, 0.5);
}

.select-selected {
  border-bottom: 1px solid #487996;
}
/*style items (options):*/
.select-items {
  position: relative;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  row-gap: 4px;
  @media screen and (min-width: $tablet) {
    margin-top: 10px;
    row-gap: 6px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 12px;
    gap: 8px;
  }
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover,
.same-as-selected {
  background-color: rgba(72, 121, 150, 0.5);
  color: #ffffff;
}
