<section class="gallery">
  <div class="container gallery__container">
    <h2 id="gallery" class="title">ГАЛЕРЕЯ</h2>
    <ul class="gallery__list list">
      <li class="gallery__item">
        <picture>
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
            " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-1.jpg    1x,
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-1@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-1.webp    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-1@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-1.webp    1x,
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-1@2x.webp 2x
          " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-1.webp    1x,
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-1@2x.webp 2x
          " media="(max-width: 767px)" />
          <img src="../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-1.jpg" alt="Фото деталі" />
        </picture>
        <h3 class="gallery__title">
          Інженерні методи аналізу та контролю якості
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
            " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-2.jpg    1x,
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-2@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-2.webp    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-2@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-2.webp    1x,
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-2@2x.webp 2x
          " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-2.webp    1x,
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-2@2x.webp 2x
          " media="(max-width: 767px)" />
          <img src="../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-2.jpg" alt="Фото сканера" />
        </picture>
        <h3 class="gallery__title">Високоточне 3D сканування</h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
            " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-3.jpg    1x,
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-3@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-3.webp    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-3@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-3.webp    1x,
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-3@2x.webp 2x
          " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-3.webp    1x,
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-3@2x.webp 2x
          " media="(max-width: 767px)" />
          <img src="../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-3.jpg"
            alt="Фото скопійованої деталі" />
        </picture>
        <h3 class="gallery__title">
          Створення точної копії на базі сканування reverse engineering
        </h3>
      </li>
      <li class="gallery__item">
        <picture>
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
            " media="(min-width: 1440px)" />
          <source srcset="
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
              ../src/images/bitmap/main/tablet/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
            " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-4.jpg    1x,
              ../src/images/bitmap/main/mobile/gallery/gallery-mozjpeg/gallary-img-4@2x.jpg 2x
            " media="(max-width: 767px)" />
          <source srcset="
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-4.webp    1x,
              ../src/images/bitmap/main/desktop/gallery/gallery-webp/gallary-img-4@2x.webp 2x
            " media="(min-width: 1440px)" />
          <source srcset="
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-4.webp    1x,
            ../src/images/bitmap/main/tablet/gallery/gallery-webp/gallary-img-4@2x.webp 2x
          " media="(min-width: 768px) and (max-width: 1439px)" />
          <source srcset="
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-4.webp    1x,
            ../src/images/bitmap/main/mobile/gallery/gallery-webp/gallary-img-4@2x.webp 2x
          " media="(max-width: 767px)" />
          <img src="../src/images/bitmap/main/desktop/gallery/gallery-mozjpeg/gallary-img-4.jpg" alt="Фото малюнку" />
        </picture>
        <h3 class="gallery__title">
          Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
        </h3>
      </li>
    </ul>
    <div class="gallery-decoration__leftup"></div>
    <div class="gallery-decoration__leftdown"></div>
    <div class="gallery-decoration__rightup"></div>
    <div class="gallery-decoration__rightdown"></div>
    <div class="gallery-decoration__tank">
      <img srcset="
        ../src/images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-5.jpg 1x,
        ../src/images/bitmap/main/desktop/backgraund-imgs/gallary-bgi-5@2x.jpg 2x
        " alt="Фото танка" />
    </div>
  </div>
</section>