<section class="hero container">
  <div class="hero__left-blocks">
    <div class="hero__left-block1"></div>
    <div class="hero__left-block2"></div>
    <div class="hero__left-block3"></div>
    <div class="hero__left-block4"></div>
    <div class="hero__left-block5">
      <a href="gallery">
        <svg class="hero__icon">
          <use href="/src/images/svg/sprite.svg#icon-arrow-to-down"></use>
          </svg>
    </a>
    </div>
    <div class="hero__left-block6"></div>
  </div>
  <div class="hero__right-blocks">
    <div class="hero__right-block1"></div>
    <div class="hero__right-block2"></div>
    <div class="hero__right-block3"></div>
    <div class="hero__right-block4"></div>
    <div class="hero__right-block5"></div>
    <div class="hero__right-block6"></div>
    <div class="hero__right-block7"></div>
  </div>

  <h1 class="hero__title">Інженерна, конструкторська та дизайнерська робота</h1>
  <ul class="hero__main-pictures list">
    <li class="hero__main-picture1">
      <picture>
        <source
          type="image/webp"
          media="(min-width: 1440px)"
          srcset="
            /src/images/bitmap/main/desktop/hero/hero-webp/wall-e.webp    1x,
            /src/images/bitmap/main/desktop/hero/hero-webp/wall-e@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /src/images/bitmap/main/tablet/hero/hero-webp/wall-e.webp    1x,
            /src/images/bitmap/main/tablet/hero/hero-webp/wall-e@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(max-width: 767px)"
          srcset="
            /src/images/bitmap/main/mobile/hero/hero-webp/wall-e.webp    1x,
            /src/images/bitmap/main/mobile/hero/hero-webp/wall-e@2x.webp 2x
          "
        />
        <source
          type="image/jpeg"
          media="(min-width: 1440px)"
          srcset="
            /src/images/bitmap/main/desktop/hero/hero-mozjpeg/wall-e.jpg    1x,
            /src/images/bitmap/main/desktop/hero/hero-mozjpeg/wall-e@2x.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /src/images/bitmap/main/tablet/hero/hero-mozjpeg/wall-e.jpg    1x,
            /src/images/bitmap/main/tablet/hero/hero-mozjpeg/wall-e@2x.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          media="(max-width: 767px)"
          srcset="
            /src/images/bitmap/main/mobile/hero/hero-mozjpeg/wall-e.jpg    1x,
            /src/images/bitmap/main/mobile/hero/hero-mozjpeg/wall-e@2x.jpg 2x
          "
        />
        <img src="/src/images/bitmap/main/mobile/hero/wall-e.jpg" alt="Робот" />
      </picture>
    </li>

    <li class="hero__main-picture2">
      <picture>
        <source
          type="image/webp"
          media="(min-width: 1440px)"
          srcset="
            /src/images/bitmap/main/desktop/hero/hero-webp/desk-lamps.webp    1x,
            /src/images/bitmap/main/desktop/hero/hero-webp/desk-lamps@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /src/images/bitmap/main/tablet/hero/hero-webp/desk-lamps.webp    1x,
            /src/images/bitmap/main/tablet/hero/hero-webp/desk-lamps@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(max-width: 767px)"
          srcset="
            /src/images/bitmap/main/mobile/hero/hero-webp/desk-lamps.webp    1x,
            /src/images/bitmap/main/mobile/hero/hero-webp/desk-lamps@2x.webp 2x
          "
        />

        <source
          type="image/jpeg"
          media="(min-width: 1440px)"
          srcset="
            /src/images/bitmap/main/desktop/hero/hero-mozjpeg/desk-lamps.jpg    1x,
            /src/images/bitmap/main/desktop/hero/hero-mozjpeg/desk-lamps@2x.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /src/images/bitmap/main/tablet/hero/hero-mozjpeg/desk-lamps.jpg    1x,
            /src/images/bitmap/main/tablet/hero/hero-mozjpeg/desk-lamps@2x.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          media="(max-width: 767px)"
          srcset="
            /src/images/bitmap/main/mobile/hero/hero-mozjpeg/desk-lamps.jpg    1x,
            /src/images/bitmap/main/mobile/hero/hero-mozjpeg/desk-lamps@2x.jpg 2x
          "
        />
        <img
          src="/src/images/bitmap/main/mobile/hero/desk-lamps.jpg"
          alt="Лампи"
        />
      </picture>
    </li>
    <li class="hero__main-picture3">
      <picture>
        <source
          type="image/webp"
          media="(min-width: 1440px)"
          srcset="
            /src/images/bitmap/main/desktop/hero/hero-webp/skull.webp    1x,
            /src/images/bitmap/main/desktop/hero/hero-webp/skull@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /src/images/bitmap/main/tablet/hero/hero-webp/skull.webp    1x,
            /src/images/bitmap/main/tablet/hero/hero-webp/skull@2x.webp 2x
          "
        />
        <source
          type="image/webp"
          media="(max-width: 767px)"
          srcset="
            /src/images/bitmap/main/mobile/hero/hero-webp/skull.webp    1x,
            /src/images/bitmap/main/mobile/hero/hero-webp/skull@2x.webp 2x
          "
        />

        <source
          type="image/jpeg"
          media="(min-width: 1440px)"
          srcset="
            /src/images/bitmap/main/desktop/hero/hero-mozjpeg/skull.jpg    1x,
            /src/images/bitmap/main/desktop/hero/hero-mozjpeg/skull@2x.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          media="(min-width: 768px) and (max-width: 1439px)"
          srcset="
            /src/images/bitmap/main/tablet/hero/hero-mozjpeg/skull.jpg    1x,
            /src/images/bitmap/main/tablet/hero/hero-mozjpeg/skull@2x.jpg 2x
          "
        />
        <source
          type="image/jpeg"
          media="(max-width: 767px)"
          srcset="
            /src/images/bitmap/main/mobile/hero/hero-mozjpeg/skull.jpg    1x,
            /src/images/bitmap/main/mobile/hero/hero-mozjpeg/skull@2x.jpg 2x
          "
        />

        <img src="/src/images/bitmap/main/mobile/hero/skull.jpg" alt="Череп" />
      </picture>
    </li>
  </ul>
  <p class="hero__text">Ми втілюємо ідеї в реальність</p>
</section>
