<section class="more-photo__section">
<div class="container container__more-photo">
    <h2 class="sub-title">БІЛЬШЕ ФОТО</h2>

    <ul class="more-photo-list list" id="myBtn1">
      <li class="more-photo-list__item">
        <picture id="myBtn1">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-1.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-1@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-1.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-1@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 100%,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-1.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-1@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 2x
            "
          />

          <img
            class="more-photo-list__img"
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn1">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-2.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-2@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-2.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-2@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-2.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-2@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
            "
          />
          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 2x
            "
          />

          <img
            class="more-photo-list__img"
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn3">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-3.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-3@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-3.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-3@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-3.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-3@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 2x
            "
          />

          <img
            class="more-photo-list__img"
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn4">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-4.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-4@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-4.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-4@2x.webp 2x
            "
          />
          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-4.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-4@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn5">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-5.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-5@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-5.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-5@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-5.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-5@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn6">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-6.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-6@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-6.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-6@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-6.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-6@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn7">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-7.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-7@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-7.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-7@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-7.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-7@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn8">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-8.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-8@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-8.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-8@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-8.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-8@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn9">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-9.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-9@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-9.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-9@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-9.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-9@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn10">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-10.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-10@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-10.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-10@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-10.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-10@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn11">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-11.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-11@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-11.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-11@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-11.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-11@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11.jpg"
            alt=""
          />
        </picture>
      </li>

      <li class="more-photo-list__item">
        <picture id="myBtn12">
          <source
            type="image/webp"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-12.webp    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-webp/more-photos-12@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-12.webp    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-webp/more-photos-12@2x.webp 2x
            "
          />

          <source
            type="image/webp"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-12.webp    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-webp/more-photos-12@2x.webp 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 1440px)"
            sizes="(min-width: 270px) 270px, 25vw"
            srcset="
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
              /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(min-width: 768px) and (max-width: 1439px)"
            sizes="(min-width: 354px) 354px, 50vw"
            srcset="
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
              /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
            "
          />

          <source
            type="image/jpeg"
            media="(max-width: 767px)"
            sizes="(min-width: 320px) 320px,90vw"
            srcset="
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg    1x,
              /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 2x
            "
          />

          <img
            src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12.jpg"
            alt=""
          />
        </picture>
      </li>
    </ul>

    <svg class="more-svg" widht="45" height="45">
      <use href="/src/images/svg/sprite.svg#icon-loading"></use>
    </svg>

    <!-- Слайдер в модальном окне -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>         
    <div class="slideshow-container">
      <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg 1200w
                "
                sizes="(min-width: 1200vw) 50vw, (min-width: 768vw) 50vw, (min-width: 320px) 70w, 50vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-1@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-2@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 400px, (min-width: 768px) 300px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-3@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
               <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 400px, (min-width: 768px) 300px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-4@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-5@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-6@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-7@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-8@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-9@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-10@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
                      <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-11@2x.jpg"
                alt="Описание изображения для всех версий"
              /></div>

              <div class="mySlides fade">
              <img
                class="slider-modal__img"
                srcset="
                  /src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg   320w,
                  /src/images/bitmap/main/tablet/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg   768w,
                  /src/images/bitmap/main/desktop/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg 1200w
                "
                sizes="(min-width: 1200px) 800px, (min-width: 768px) 500px, (min-width: 320px) 70w, 100vw"
                src="/src/images/bitmap/main/mobile/gallery/more-photos-mozjpeg/more-photos-12@2x.jpg"
                alt="Описание изображения для всех версий"
      
          /></div>
           <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>  </div>
</div>
</div>
</section>

<script>
  // Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn1");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
<script>
var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
}

</script>