.contact-hero__iframe-thumb {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  @media screen and (min-width: $tablet) {
    width: calc((100% - 32px) / 2);
    height: 261px;
  }
  @media screen and (min-width: $desktop) {
    height: 315px;
  }
}
