.container__changes{
    @media screen and (min-width: $tablet) {
  padding-top: 29.95px;
  position: relative;}
   @media screen and (min-width: $desktop) {
    padding-top: 44.71px;
   }
}

  .decor {
    display: none;
    @media screen and (min-width: $tablet) {
        display: block;
      position: absolute;
      width: 71.41px;
      height: 63.79px;
      right: 32px;
      top: 8.42px;
      background-color: $spotBackgroundColor;
      box-shadow: $spotShadow;
        border-radius: 0px 0px 0px 35px;}
                 @media screen and (min-width: $desktop) {
                    width: 137px;
                    height: 83px;
                    top: 6.71px;
                    border-radius: 0px 0px 0px 72px;
                    }
                 }
                            
  .second--decor {
    display: none;
    @media screen and (min-width: $desktop) {
        display: block;
            width: 82px;
            height:78px;
            top:44;
            background: $spotBackgroundColor;
            left:35px;
            box-shadow: $spotShadow;
            border-radius: 0px 0px 72px 0px;
        }

  }      
  .title--changes{
    @media screen and (min-width: $desktop) {
            margin-left: 117px; 
        } }

.model-list__item{ 
width:calc((100% - 20px)/2);
    height: 158px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
   background: $spotBackgroundColor;
    box-shadow: $listItemShadow;
    border-radius: 50px 0px;
    @media screen and (min-width: $tablet){
    width:calc((100% - 32px)/4);
        height: 182px;
    }
@media screen and (min-width: $desktop) {
    height: 382px;
}
}
 
.model-list__text {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
     line-height: 1.28;
    color: $accentColor;
    @media screen and (min-width: $desktop) {
        font-size: 18px;
        line-height: 1.27;
        }
        }


.model-list{
    margin-top: 16px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
@media screen and (min-width: $tablet){
    flex-wrap: nowrap;
        gap: 32px;
        }
                 @media screen and (min-width: $desktop) {
                    margin-top: 24px;
                 }
}

