<section class="scan-process">
  <div class="scan-process__container container">
    <h2 class="container__title sub-title">Процес 3D сканування</h2>
    <ul class="pict-list list">
      <li class="pict-list__item pict-list__item--pict1">
        <h3 class="pict-list__title">Підготовка деталі до сканування</h3>
      </li>
      <li class="pict-list__item pict-list__item--pict2">
        <h3 class="pict-list__title">Створення сканів та їх обробка</h3>
      </li>
      <li class="pict-list__item pict-list__item--pict3">
        <h3 class="pict-list__title">Перетворення reverse engineering</h3>
      </li>
      <li class="pict-list__item pict-list__item--pict4">
        <h3 class="pict-list__title">Підготовка моделі до друку</h3>
      </li>
    </ul>
  </div>
</section>
