<footer class="footer">
    <div class="footer__container container">
        <a class="footer__logo" href="./index.html">
            <img class="logo" src="/src/images/svg/icons-svg/logo.svg" alt="Комп'ютер" />
        </a>
        <div class="footer__info">
            <div class="footer__menu">
                <ul class="footer__menu-list list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./index.html">Головна</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./modeling-page.html">3D Моделювання</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./scanning-page.html">3D Сканування</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./printing-page.html">3D Друк</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./order-page.html">Замовити</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./contacts-page.html">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="footer__socials">
                <ul class="footer__socials-list list">
                    <li class="footer__socials-item">
                        <a target="_blank" rel="noopener noreferrer nofollow" class="footer__socials-link link"
                            href="https://www.instagram.com/_3d_freedom/">Instagram</a>
                    </li>
                    <li class="footer__socials-item">
                        <a target="_blank" rel="noopener noreferrer nofollow" class="footer__socials-link link"
                            href="https://www.youtube.com/channel/UCUYdA0Ct5Kjyw4LhEI1U1nw">YouTube</a>
                    </li>
                    <li class="footer__socials-item">
                        <a target="_blank" rel="noopener noreferrer nofollow" class="footer__socials-link link"
                            href="https://www.facebook.com/">Facebook</a>
                    </li>
                </ul>
            </div>
            <address class="footer__contacts">
                <div class="footer__contacts-mail-wrap">
                    <p class="footer__contacts-mail">Email</p>
                    <a class="footer__contacts-mail-link link"
                        href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                </div>
                <div class="footer__contacts-tel-wrap">
                    <p class="footer__contacts-tel">Телефони</p>
                    <a class="footer__contacts-tel-link link" href="tel:+380936432288">+38 (093) 643 22 88</a>
                    <a class="footer__contacts-tel-link link" href="tel:+380503454423">+38 (050) 345 44 23</a>
                </div>
            </address>
        </div>
    </div>
</footer>