<header class="page-header">
    <div class="mobile-container container">
        <div class="page-header__rectangle--logo"></div>
        <div class="page-header__rectangle--lang"></div>
        <div class="logo-thumb">
            <a class="logo__link link" href="./index.html">
                <img class="logo" src="/src/images/svg/icons-svg/logo.svg" alt="Комп'ютер" />
            </a>
        </div>
        <nav class="desktop-menu__nav">
            <ul class="desktop-menu__list list">
                <li class="desktop-menu__item">
                    <a class="desktop-menu__item--link link" href="./index.html">Головна</a>
                </li>
                <li class="desktop-menu__item desktop-menu--dropdown">
                    <a class="desktop-menu--click desktop-menu__item--link link" href="javascript:void(0);"
                        tabindex="1">Послуги</a>
                    <ul class="desktop-menu__service-list list">
                        <li class="desktop-menu__service-item"><a class="desktop-menu__service-item-link link"
                                href="./modeling-page.html">3D Моделювання</a></li>
                        <li class="desktop-menu__service-item"><a class="desktop-menu__service-item-link link"
                                href="./scanning-page.html">3D
                                Сканування</a></li>
                        <li class="desktop-menu__service-item"><a class="desktop-menu__service-item-link link"
                                href="./printing-page.html">3D Друк</a></li>
                    </ul>
                </li>
                <li class="desktop-menu__item"><a class="desktop-menu__item--link link"
                        href="./order-page.html">Замовити</a>
                </li>
                <li class="desktop-menu__item"><a class="desktop-menu__item--link link"
                        href="./contacts-page.html">Контакти</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-menu">
            <button type="button" class="mobile-menu__toggle toggle-menu js-open-menu" aria-controls="mobile-menu"
                aria-expanded="false">
                <svg class="mobile-menu__icons" aria-label="Переключатель мобільного меню">
                    <use class="mobile-menu__icon-menu" width="32" height="32"
                        href="/src/images/svg/sprite.svg#icon-mobile-menu"></use>
                    <use class="mobile-menu__icon-cross" width="24" height="24"
                        href="/src/images/svg/sprite.svg#icon-cross"></use>
                </svg>
            </button>
            <div class="mobile-menu__container js-menu-container" id="mobile-menu">
                <nav class="mobile-menu__nav">
                    <ul class="mobile-menu__list list">
                        <li class="mobile-menu__item"><a class="mobile-menu__item--link link"
                                href="./index.html">Головна</a></li>
                        <li class="mobile-menu__item"><span class="mobile-menu__item--link">Послуги</span>
                            <ul class="mobile-menu__service-list list">
                                <li class="mobile-menu__service-item"><a class="mobile-menu__service-item-link link"
                                        href="./modeling-page.html">3D Моделювання</a></li>
                                <li class="mobile-menu__service-item"><a class="mobile-menu__service-item-link link"
                                        href="./scanning-page.html">3D Сканування</a></li>
                                <li class="mobile-menu__service-item"><a class="mobile-menu__service-item-link link"
                                        href="./printing-page.html">3D Друк</a></li>
                            </ul>
                        </li>
                        <li class="mobile-menu__item"><a class="mobile-menu__item--link link"
                                href="./order-page.html">Замовити</a></li>
                        <li class="mobile-menu__item"><a class="mobile-menu__item--link link"
                                href="./contacts-page.html">Контакти</a></li>
                    </ul>
                </nav>
                <!-- <div class="decoration">
                    
                </div> -->
            </div>
            <div class="page-header__rectangle--mobile"></div>
            <div class="hero__bottom-part1"></div>
            <div class="hero__bottom-part2"></div>
            <div class="hero__bottom-part3"></div>
            <div class="hero__bottom-part4"></div>
            <div class="hero__bottom-part5"></div>
            <div class="hero__bottom-part6"></div>
            <div class="hero__bottom-part7"></div>
            <div class="hero__left-blocks">
                <div class=" hero__left-block1"></div>
                <div class=" hero__left-block2"></div>
                <div class=" hero__left-block3"></div>
                <div class=" hero__left-block4"></div>
                <div class=" hero__left-block5"></div>
                <div class=" hero__left-block6"></div>
            </div>
            <div class="hero__right-blocks">
                <div class=" hero__right-block1"></div>
                <div class=" hero__right-block2"></div>
                <div class=" hero__right-block3"></div>
                <div class=" hero__right-block4"></div>
                <div class=" hero__right-block5"></div>
                <div class=" hero__right-block6"></div>
                <div class=" hero__right-block7"></div>
            </div>
        </div>
        <div class="dropdown">
            <div class="mobile-contacts__dropdown">
                <div class="mobile-contacts__button">
                    <svg class="contacts-menu__icons" aria-label="Меню контактів" width="18" height="18">
                        <use class="contacts-menu__icon-menu" href="/src/images/svg/sprite.svg#icon-phone"></use>
                    </svg>
                </div>
                <svg class="mobile-contacts--background-triangle" width="38" height="26">
                    <use href="/src/images/svg/sprite.svg#icon-contact-triangle"></use>
                </svg>
                <div class="mobile-contacts__content">
                    <ul class="mobile-contacts__list list">
                        <li class="mobile-contacts__item"><a class="mobile-contacts__link link"
                                href="tel:+380936432288">+38 (093) 643 22 88</a>
                        </li>
                        <li class="mobile-contacts__item"><a class="mobile-contacts__link link"
                                href="tel:+380503454423">+38 (050) 345 44 23</a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-contacts__not-dropdown">
                    <ul class="mobile-contacts__list--not-dropdown list">
                        <li class="mobile-contacts__item--not-dropdown"><a
                                class="mobile-contacts__link--not-dropdown link" href="tel:+380936432288">+38 (093) 643
                                22 88</a>
                        </li>
                        <li class="mobile-contacts__item--not-dropdown"><a
                                class="mobile-contacts__link--not-dropdown link" href="tel:+380503454423">+38 (050) 345
                                44 23</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="menu-lang__dropdowncontent">
                <div class="menu-lang__button">UKR</div>
                <div class="menu-lang__content">
                    <ul class="menu-lang__list list">
                        <li class="menu-lang__item"><a class="menu-lang__link link" href="">ENG</a></li>
                        <li class="menu-lang__item"><a class="menu-lang__link link" href="">POL</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
    integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
    crossorigin="anonymous"></script>