<footer class="footer">
    <div class="footer__container container">
        <div class="footer__logo">
            <a class="footer__logo-link link" href="./index.html">
                <picture>
                    <source media="(min-width: $desktop)"
                        srcset="images/bitmap/logo/browser-png/logo_101x25.png 1x, images/bitmap/logo/browser-png/logo_101x25@2x.png 2x"
                        type="image/png">
                    <source media="(min-width: $tablet)"
                        srcset="images/bitmap/logo/browser-png/logo_125x31.png 1x, images/bitmap/logo/browser-png/logo_125x31@2x.png 2x"
                        type="image/png">
                    <source media="(max-width: $mobile)"
                        srcset="images/bitmap/logo/browser-png/logo_192x48.png 1x, images/bitmap/logo/browser-png/logo_192x48.@2x.png 2x"
                        type="image/png">
                    <img class="footer__logo-img" src="images/bitmap/logo/browser-png/logo_192x48.png" alt="logo"
                        width="192" height="48">
                </picture>
            </a>
        </div>
        <div class="footer__info">
            <div class="footer__menu">
                <ul class="footer__menu-list list">
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./index.html">Головна</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./modeling-page.html">3D Моделювання</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./scanning-page.html">3D Сканування</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./printing-page.html">3D Друк</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./order-page.html">Замовити</a>
                    </li>
                    <li class="footer__menu-item">
                        <a class="footer__menu-link link" href="./contacts-page.html">Контакти</a>
                    </li>
                </ul>
            </div>
            <div class="footer__socials">
                <ul class="footer__socials-list list">
                    <li class="footer__socials-item">
                        <a class="footer__socials-link link" href="">Instagram</a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link link" href="">YouTube</a>
                    </li>
                    <li class="footer__socials-item">
                        <a class="footer__socials-link link" href="">Facebook</a>
                    </li>
                </ul>
            </div>
            <address class="footer__contacts">
                <div class="footer__contacts-mail-wrap">
                    <p class="footer__contacts-mail">Email</p>
                    <ul class="footer__contacts-mail-list list">
                        <li class="footer__contacts-mail-item">
                            <a class="footer__contacts-mail-link link"
                                href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="footer__contacts-tel-wrap ">
                    <p class="footer__contacts-tel">Телефони</p>
                    <ul class="footer__contacts-tel-list list">
                        <li class="footer__contacts-tel-item">
                            <a class="footer__contacts-tel-link link" href="tel:+380936432288">+38 (093) 643 22 88</a>
                        </li>
                        <li class="footer__contacts-tel-item">
                            <a class="footer__contacts-tel-link link" href="tel:+380503454423">+38 (050) 345 44 23</a>
                        </li>
                    </ul>
                </div>
            </address>
        </div>
    </div>
</footer>