<section class="order-page">
  <div class="container order-page__hero">
    <div class="decoration decoration--left"></div>
    <div class="decoration decoration--right"></div>
    <h1 class="order-page__title title">ЗРОБИТИ ЗАМОВЛЕННЯ!</h1>
    <div class="order-page__content">
      <picture>
        <source type="image/jpeg" media="(max-width: 767px)" srcset="
            /src/images/bitmap/order/mobile/order-img.jpg    1x,
            /src/images/bitmap/order/mobile/order-img@2x.jpg 2x
          " />
        <source type="image/jpeg" media="(min-width:768px) and (max-width: 1439px)" srcset="
            /src/images/bitmap/order/tablet/order-img.jpg    1x,
            /src/images/bitmap/order/tablet/order-img@2x.jpg 2x
          " />
        <source type="image/jpeg" media="(min-width: 1440px)" srcset="
            /src/images/bitmap/order/desktop/mozjpeg/order-img.jpg    1x,
            /src/images/bitmap/order/desktop/mozjpeg/order-img@2x.jpg 2x
          " />

        <img src="/src/images/bitmap/order/mobile/order-img.jpg" alt="Грецький меандровий світильник"
          class="order-page__img" />
      </picture>

      <div class="order-page__text">
        <div class="list">
          <p class="order-page__dscr">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми
            зв'яжемося з вами.
          </p>
          <p class="order-page__dscr">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і
            дадуть відповідь на всі ваші запитання.
          </p>
        </div>
        <ul class="imgs__list list">
          <li class="imgs__item item-car"></li>
          <li class="imgs__item item-colum"></li>
          <li class="imgs__item item-mushroom"></li>
        </ul>
      </div>
    </div>
  </div>
</section>