<section class="model">
    <div class="model__container container">
        <div class="model__f-container">
            <div class="model__r-rectangle"></div>
            <div class="model__sec-container">
                <div class="model__rectangle"></div>
                <div class="model__rectangle-tab"></div>
                <div class="model__rectangle-mob"></div>
                <div class="model__hero">
                    <h1 class="model__title title sub-title">3d моделювання</h1>
                    <ul class="model__text-list list">
                        <li class="model__item">
                            <p class="model__text">Сфера 3D графіки може надати широкий спектр послуг. Але якщо
                                спроектована
                                модель
                                буде створюватися шляхом 3D друку, обробки заготовки на ЧПУ станках або іншими
                                виробничими
                                методами,
                                то до моделі преставляеться ряд інженерних вимог які повинен враховувати дизайнер при
                                розробці
                                моделі.</p>
                        </li>
                        <li class="model__item">
                            <p class="model__text">Наші фахівці допоможуть вам визначитися з технічною стороною вироба і
                                підготують
                                модель для її створення. Ми маємо широкий спектр інструментів для вдоволення будь-якої
                                вашої
                                задачі.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>