<section class="methods">
    <div class="methods__container container">
        <div class="methods__div">
            <div class="methods__rectangle"></div>
            <div class="methods__s-container">
                <h2 class="methods__title title">Способи створення моделі:</h2>
                <ul class="methods__list list">
                    <li class="methods__item">
                        <p class="methods__text">3D сканування</p>
                    </li>
                    <li class="methods__item">
                        <p class="methods__text">На основі фотографій з доданими розмірами</p>
                    </li>
                    <li class="methods__item">
                        <p class="methods__text">За ескізами з розмірами</p>
                    </li>
                    <li class="methods__item">
                        <p class="methods__text">За вашим кресленням</p>
                    </li>
                    <li class="methods__item">
                        <p class="methods__text">По вже існуючому прототипу шляхом зняття розмірів</p>
                    </li>
                </ul>
                <div class="methods__mob-r"></div>
                <div class="methods__mob-r2"></div>
            </div>
            <div class="methods__t-container">
                <div class="methods__t-rectangle"></div>
            </div>
        </div>
    </div>
</section>