<section class="model">
  <div class="container container__changes">
    <div class="decor"></div>
    <div class="decor second--decor"></div>
    <h1 class="title title--changes">МИ СТВОРЮЄМО</h1>

    <ul class="model-list list">
      <li class="model-list__item">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/prototype.png    1x,
              /src/images/bitmap/print/desktop/prototype@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/tablet/prototype.png    1x,
              /src/images/bitmap/print/tablet/prototype@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/prototype.png    1x,
              /src/images/bitmap/print/mobile/prototype@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/bitmap/print/desktop/prototype.png"
            alt="прототип"
          />
        </picture>
        <div class="dd">
          <p class="model-list__text">ПРОТОТИПИ</p>
        </div>
      </li>

      <li class="model-list__item">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/maquette.png    1x,
              /src/images/bitmap/print/desktop/maquette@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/bitmap/print/tablet/maquette.png    1x,
              /src/images/bitmap/print/tablet/maquette@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/maquette.png    1x,
              /src/images/bitmap/print/mobile/maquette@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/bitmap/print/desktop/maquette.png"
            alt="макети"
          />
        </picture>
        <div class="dd">
          <p class="model-list__text">МАКЕТИ</p>
        </div>
      </li>
      <li class="model-list__item">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/decor.png    1x,
              /src/images/bitmap/print/desktop/decor@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/bitmap/print/tablet/decor.png    1x,
              /src/images/bitmap/print/tablet/decor@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/decor.png    1x,
              /src/images/bitmap/print/mobile/decor@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img src="/src/images/bitmap/print/desktop/decor.png" alt="декор" />
        </picture>
        <p class="model-list__text">ДЕКОР</p>
      </li>
      <li class="model-list__item">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/3d-coub.png    1x,
              /src/images/bitmap/print/desktop/3d-coub@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/bitmap/print/tablet/3d-coub.png    1x,
              /src/images/bitmap/print/tablet/3d-coub@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1439px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/3d-coub.png    1x,
              /src/images/bitmap/print/mobile/3d-coub@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/bitmap/print/desktop/3d-coub.png"
            alt="корпоративний дизайн"
          />
        </picture>
        <p class="model-list__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>
    </ul>
  </div>
</section>
