<section class="model">
  <div class="container">
    <h1 class="title title--changes">МИ СТВОРЮЄМО</h1>

    <ul class="model-list">
      <div class="dd">
      <li class="model-list__item ">
        <div class="model-list__picture">
          <picture>
            <source
              srcset="
                /src/images/bitmap/print/desktop/prototype.png    1x,
                /src/images/bitmap/print/desktop/prototype@2x.png 2x
              "
              media="(min-widt: 1440px)">
          
            <source
              srcset="
                /src/images/bitmap/print/tablet/prototype.png    1x,
                /src/images/bitmap/print/tablet/prototype@2x.png 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                /src/images/bitmap/print/mobile/prototype.png    1x,
                /src/images/bitmap/print/mobile/prototype@2x.png 2x
              "
              media="(max-width: 767px)"     
            />
            <img 
              src="/src/images/bitmap/print/desktop/prototype.png"
               sizes="(max-width: 767px) 90.48px, (min-width: 768px) 105.79px, 100vw"
              alt="прототип"
            />
          </picture>
        </div>
        <div class="model-list__div">
        <p class="model-list__text">ПРОТОТИПИ</p></div>
      </li></div>
      <li class="model-list__item">
        <div class="model-list__picture">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/maquette.png    1x,
              /src/images/bitmap/print/desktop/maquette@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/bitmap/print/tablet/maquette.png    1x,
              /src/images/bitmap/print/tablet/maquette@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/maquette.png    1x,
              /src/images/bitmap/print/mobile/maquette@2x.png 2x
            "
            width="100.88" height="63.62"
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/bitmap/print/desktop/maquette.png"
            sizes="(max-width: 767px) 100.88px, (min-width: 768px) 117.95px, 100vw"
            alt="макети"
           
          />
        </picture>
        </div>
        <p class="model-list__text">МАКЕТИ</p>
      </li>
      <li class="model-list__item">
         <div class="model-list__picture">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/decor.png    1x,
              /src/images/bitmap/print/desktop/decor@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/bitmap/print/tablet/decor.png    1x,
              /src/images/bitmap/print/tablet/decor@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/decor.png    1x,
              /src/images/bitmap/print/mobile/decor@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/bitmap/print/desktop/decor.png"
            alt="декор"
            width="240"
          />
        </picture></div>
        <p class="model-list__text">ДЕКОР</p>
      </li>
      <li class="model-list__item">
        <div class="model-list__picture">
        <picture>
          <source
            srcset="
              /src/images/bitmap/print/desktop/3d-coub.png    1x,
              /src/images/bitmap/print/desktop/3d-coub@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              /src/images/bitmap/print/tablet/3d-coub.png    1x,
              /src/images/bitmap/print/tablet/3d-coub@2x.png 2x
            "
            media="(min-width: 768px)"
          />

          <source
            srcset="
              /src/images/bitmap/print/mobile/3d-coub.png    1x,
              /src/images/bitmap/print/mobile/3d-coub@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/src/images/bitmap/print/desktop/3d-coub.png"
            alt="корпоративний дизайн"
            width="240"
          /></div>
        </picture>
        <p class="model-list__text">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>
    </ul>
  </div>
</section>
