<section class="process-description">
    <div class="process-description__container">
      <h2 hidden>Опис процесу</h2>

      <!-- DECOR -->
<div class="process-description__first-decor"></div>
<div class="process-description__second-decor"></div>
<div class="process-description__third-decor"></div>
<div class="process-description__fourth-decor"></div>
<div class="process-description__fifth-decor"></div>


      <ul class="process-list">
        <li class="process-list__item">


          <div class="process-list__picture">
            <picture>
              <source
                srcset="
                  /src/images/bitmap/print/desktop/bgi-printing-service.png    1x,
                  /src/images/bitmap/print/desktop/bgi-printing-service@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/bitmap/print/tablet/bgi-printing-service.png    1x,
                  /src/images/bitmap/print/tablet/bgi-printing-service@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/bitmap/print/mobile/bgi-printing-service.png    1x,
                  /src/images/bitmap/print/mobile/bgi-printing-service@2x.png 2x
                "
                media="(maxn-width: 767px)"
              />
              <img
                src="/src/images/bitmap/print/desktop/bgi-printing-service.png"
                alt="постер"
                width="236"
              />
            </picture>
          </div>
          <div class="process-list__text">
            <p class="process-list__text__paragraph">
              <span class="process-list__text__paragraph--style">3D-друк</span>
              - ми використовуємо FDM технологію друку. Вона представляє собою
              пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="process-list__text__paragraph">
              Моделі для створення розроблюються дизайнерами в спеціальному
              програмному забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="process-list__text__paragraph">
              3D друк знайшов широке застосування в архітектурі, промисловості,
              маркетингу, мистецтві і багатьох інших сфер.
            </p>
            <button class="order-button" type="button">
              ЗРОБИТИ ЗАМОВЛЕННЯ
            </button>
          </div>
        </li>
        <li class="process-list__item">
          <div class="process-list__picture">
            <picture>
              <source
                srcset="
                  /src/images/bitmap/print/desktop/bgi-scanning-services.png    1x,
                  /src/images/bitmap/print/desktop/bgi-scanning-services@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/bitmap/print/tablet/bgi-scanning-services.png    1x,
                  /src/images/bitmap/print/tablet/bgi-scanning-services@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/bitmap/print/mobile/bgi-scanning-services.png    1x,
                  /src/images/bitmap/print/mobile/bgi-scanning-services@2x.png 2x
                "
                media="(maxn-width: 767px)"
              />
              <img
                src="/src/images/bitmap/print/desktop/bgi-scanning-services.png"
                alt="постер"
                width="235"
              />
            </picture>
          </div>
          <div class="process-list__text">
            <p class="process-list__text__paragraph">
              <span class="process-list__text__paragraph--style"
                >3D-моделювання</span
              >
              - це процес розробки математичного уявлення будь-якої поверхні
              об'єкта в трьох вимірах за допомогою спеціалізованого програмного
              забезпечення.
            </p>
            <p class="process-list__text__paragraph">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших
              побажань.
            </p>
            <p class="process-list__text__paragraph">
              Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
              повністю задовольнить ваші потреби.
            </p>
            <button class="order-button" type="button">
              ЗРОБИТИ ЗАМОВЛЕННЯ
            </button>
          </div>
        </li>
        <li class="process-list__item">
           
          <div class="process-list__picture">
            <picture>
              <source
                srcset="
                  /src/images/bitmap/print/desktop/bgi-modeling-services.png    1x,
                  /src/images/bitmap/print/desktop/bgi-modeling-services@2x.png 2x
                "
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  /src/images/bitmap/print/tablet/bgi-modeling-services.png    1x,
                  /src/images/bitmap/print/tablet/bgi-modeling-services@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /src/images/bitmap/print/mobile/bgi-modeling-services.png    1x,
                  /src/images/bitmap/print/mobile/bgi-modeling-services@2x.png 2x
                "
                media="(maxn-width: 767px)"
              />
              <img
                src="/src/images/bitmap/print/desktop/bgi-modeling-services.png"
                alt="постер"
                width="235"
              />
            </picture>
          </div>
          <div class="process-list__text">
            <p class="process-list__text__paragraph">
              <span class="process-list__text__paragraph--style"
                >3D-сканування</span
              >
              - зняття даних, шляхом аналізу форми предмета і на основі
              отриманих даних створення її 3D-моделі.
            </p>
            <p class="process-list__text__paragraph">
              Це універсальний інструмент, який дозволяє отримати як і просто
              3D-модель для візуалізації в цифровому вигляді, так і 3D-модель
              для подальшого її друку на 3D-принтері.
            </p>
            <button class="order-button" type="button">
              ЗРОБИТИ ЗАМОВЛЕННЯ
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>